<strong>{{m.name}}</strong>
{% load office_tag %}

<form method="POST">
<input type="hidden" value="{{m.id}}" name="member_id">

<style>
    .read_only_input{
        border: none;
        width: fit-content;
        pointer-events: none;
        font-weight: 700;
    }
</style>

<d> Member Installment </d> <input type="text" class="read_only_input" name="loan_installment" id="loan_installment" value="{{group_name.member_installment_limit}}" readonly>
<br>
<d> Loan Interest </d> <input type="text" class="read_only_input" name="loan_interest" id="loan_interest{{m.id}}" readonly>
<br>
<d> Loan Amount </d> <input type="text" class="read_only_input" name="loan_amount" id="loan_amount{{m.id}}" readonly>

{% check_member_loan m.id as n %}
{% if n == 0 %}
<div class="m-3">
    <input type="number" class="form-control" value="3000" name="amount" readonly>
</div>
<button type="submit" class="btn btn-primary" name="add_amount" >Add</button>
{% else %}
<div class="m-3">
    <label> Enter Amount</label>
    <div class="form-floating ">
        <input type="number" class="form-control" required placeholder="Enter Amount" name="amount" id="amount" oninput="check_amount()">
        <label for="amount" id="enter_amount_label"> Enter Amount</label>
        <label id="alert_label" for="amount" style="display: none;" >123</label>
    </div>
</div>
<button type="submit" class="btn btn-primary" name="add_amount" id="add_amount_btn" style="display: none;">Add</button>
{% endif %}


</form>


{% loan_interest_days m.id as n %}
<br><br>
<div class="alert alert-danger">𝗥𝗲𝗺𝗮𝗶𝗻𝗶𝗻𝗴 𝗹𝗼𝗮𝗻 <strong id="loan{{m.id}}">{% check_member_loan m.id as check_member_loan %}{{check_member_loan}}</strong></div>
<script>
    member_installment_limit = '{{group_name.member_installment_limit}}'
    loan = document.getElementById('loan'+'{{m.id}}').innerText;
    loan_interest = (loan / 100) * Number('{{group_name.loan_interest}}')
    loan_interest = loan_interest * '{{n}}'
    document.getElementById('loan_interest'+'{{m.id}}').value = Math.floor(loan_interest)
        
    total_giving_amount = (Number(member_installment_limit) + Number(loan_interest))
    final_total_giving_amount = (Number(member_installment_limit) + Number(loan_interest) + Number('{{check_member_loan}}'))

    function check_amount(){
        amount = document.getElementById('amount').value;
        if (Number(amount) > 0){}
        if (Number(amount) < 0){
            amount = document.getElementById('amount').value = 0;
        }
        if (Number(amount) < Number(final_total_giving_amount)){}
        if (Number(amount) > Number(final_total_giving_amount)){
            amount = document.getElementById('amount').value = 0;
        }
        amount = document.getElementById('amount').value;
        console.log()
        if (Number(amount) <= Number(total_giving_amount)){
            document.getElementById('add_amount_btn').style.display = 'none'
            document.getElementById('alert_label').style.display = 'unset'
            document.getElementById('alert_label').innerHTML =`${total_giving_amount} या पेक्षा मोठी रक्कम भरा`
            document.getElementById('enter_amount_label').style.display = 'none'
        }
        if (Number(amount) >= Number(total_giving_amount) || Number(amount) == Number(total_giving_amount)){
            document.getElementById('add_amount_btn').style.display = 'flex'
            document.getElementById('alert_label').style.display = 'none'
            document.getElementById('enter_amount_label').style.display = 'unset'
        }
        /////////////////////////////////////

        amount -= member_installment_limit

        //////////////////////////////////////

        amount -= loan_interest
        
        /////////////////////////////////////

        if(amount < 0){
            amount = 0
        }
        document.getElementById('loan_amount'+'{{m.id}}').value = Math.ceil(amount)
    }
</script>